div {
    border: 6px solid black;
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
    width: 200px;
    height: 200px;
    padding: 20px;
}